sqlalchemy
jinja2
markupsafe
libvirt-python
pymongo
bottle
#pefile
django>=1.7
chardet
pygal
clamd
pycrypto
rarfile
jsbeautifier
dpkt
nose
dnspython
pytz
requests
python-magic
geoip
pillow
elasticsearch
java-random
python-whois
bs4
pefile2==1.2.11
git+https://github.com/crackinglandia/pype32.git
git+https://github.com/jsocol/django-ratelimit
git+https://github.com/kbandla/pydeep.git
pyvmomi>=6.0
imagehash
pyinstaller
requests
sqlalchemy
# upx
maec
oletools==0.53.1
networkx>=2.1
regex
graphviz>=0.8.4
pydot>=1.2.4
olefile==0.45.1
mixbox
matplotlib==2.2.2
numpy==1.15.0
six==1.11.0
statistics==1.0.3.5
xmltodict
pyyaml
pyelftools
