sqlalchemy
jinja2
markupsafe
libvirt-python 
pymongo
bottle
#pefile
django>=1.7
chardet
pygal
clamd
pycrypto
rarfile 
jsbeautifier
dpkt
nose
dnspython
pytz
requests
python-magic
geoip
pillow
elasticsearch
java-random
python-whois
bs4
pefile2==1.2.11
git+https://github.com/crackinglandia/pype32.git
git+https://github.com/jsocol/django-ratelimit
git+https://github.com/kbandla/pydeep.git
pyvmomi>=6.0
