[Unit]
Description=Cuckoo rooter
Documentation=https://github.com/ctxis/CAPE
Wants=network-online.target
After=syslog.target network.target

[Service]
ExecStart=/opt/CAPE/venv/bin/python /opt/CAPE/utils/rooter.py
User=root
Group=root
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
